body {
  font-family: "Roboto", sans-serif;
}
h1,
h2,
h3,
p {
  margin: 0.2rem;
}
.container {
  margin-left: 10%;
  margin-right: 10%;
}
.color-white {
  color: white;
}
.color-red {
  color: #650f16;
}
.background-white {
  background-color: white;
}
.background-blue {
  background-color: #3466b5;
}
.banner-grid {
  display: grid;
  gap: 10px;
}
.banner-grid > div {
  position: relative;
}
.item1 {
  grid-column: 1;
  grid-row: 1 / span 2;
}
.item2 {
  grid-column: 2 / span 1;
  grid-row: 1;
}
.image-size {
  width: 100%;
  height: 100%;
}
.bottom-right-side {
  position: absolute;
  bottom: 0.2rem;
  right: 1rem;
  text-align: right;
}
.position-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.ppe-info {
  text-align: center;
  border: lightblue 5px solid;
  padding: 0.7rem 2.2rem;
  background-color: white;
  border-radius: 50px;
  margin-bottom: 20px;
}
.ppe-info > h3 > span {
  text-wrap: nowrap;
}
.small-font {
  font-size: x-small;
  font-weight: 500;
}
.shop-button {
  text-align: center;
  padding: 0.7rem 1.2rem;
  font-weight: 700;
  border: none;
  cursor: pointer;
}
.flex-container-products {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  align-items: center;
}
.flex-container-products > div {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.flex-container-products > div > h3 {
  color: grey;
}
.flex-container-products > div > img {
  width: 120px;
}
.flex-container-products > div > button {
  margin: 10px;
}
.flex-container-products > div > p {
  font-weight: 500;
  font-size: small;
  margin-top: 10px;
}
.arrow-button {
  border-radius: 50%;
  padding: 3px 6px;
  font-size: 15px;
  text-align: center;
  height: fit-content;
  color: white;
  background-color: gray;
  cursor: pointer;
}
.blue-color {
  color: #3466b5;
}
.carousel {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}
.flex-wrap {
  flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  .banner-grid {
    grid-template-columns: 1fr;
  }
  .banner-grid > div > h1,
  h2,
  h3,
  h4 {
    font-size: 14px;
  }

  .item1 {
    grid-column: auto;
    grid-row: auto;
  }

  .item2 {
    grid-column: auto;
    grid-row: auto;
  }
}

/* Adjustments for mobile devices */
@media screen and (max-width: 480px) {
  .item1,
  .item2 {
    grid-column: auto;
    grid-row: auto;
  }
}
